.search_input_container {
  margin-bottom: 20px;
  position: relative;

  input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-secondary);
    color: var(--text-color-main);
  }

  svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;

    path {
      fill: var(--btn-secondary);
    }

    &:hover path {
      fill: var(--btn-main);
    }
  }
}

.list {
  & > li {
    background-color: var(--bg-secondary);
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .name {
        min-width: 20%;

        p:last-child {
          font-size: 0.8rem;
        }
      }

      .active_tasks {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1;

        p {
          font-size: 0.8rem;
        }

        ul {
          display: flex;
          gap: 10px;

          a {
            font-size: 0.8rem;
            padding: 3px 5px;
            color: var(--text-color-main);

            &:hover {
              color: var(--text-color-dark);
            }
          }
        }
      }

      & > a {
        color: var(--text-color-main);
        font-size: 0.8rem;

        &:hover {
          color: var(--black);
          background-color: var(--accent-main);
        }
      }
    }
  }
}

p.no_users_found {
  text-align: center;
}

.avatar_container {
  width: 40px;
  height: 40px;

  img {
    font-size: 0.5rem;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
