.select_container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;

  label {
    text-transform: capitalize;
  }

  select {
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: var(--bg-body);
    color: var(--text-color);

    option {
      font-size: 1rem;
    }
  }
}
