.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;
  background-color: var(--bg-main);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 0.8rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 5px 10px;
      border-radius: 4px;
      background-color: var(--bg-secondary);
      color: var(--text-color);
      font-size: 0.8rem;

      &:hover {
        color: var(--black);
        background-color: var(--accent-main);
      }
    }
  }

  .assignees {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    ul {
      font-size: 0.8rem;
    }
  }
}

.low {
  border-bottom: 4px solid var(--priority-color-low);
}

.medium {
  border-bottom: 4px solid var(--priority-color-medium);
}

.high {
  border-bottom: 4px solid var(--priority-color-high);
}

.no_priority {
  border-bottom: 4px solid var(--text-color-main);
}
