.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  h3,
  p {
    font-size: 1rem;
  }

  .actions {
    button {
      border: none;
      background-color: transparent;

      &:hover {
        color: var(--btn-text-color);
        text-decoration: underline;
      }
    }
  }
}

.low {
  border-bottom: 4px solid var(--priority-color-low);
}

.medium {
  border-bottom: 4px solid var(--priority-color-medium);
}

.high {
  border-bottom: 4px solid var(--priority-color-high);
}
