.details_container {
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--grey);

    &:hover {
      background-color: var(--light-grey);
    }
  }

  .btn_back {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--black);

    svg {
      width: 8px;
    }
  }

  form {
    .label {
      margin-bottom: 10px;
    }

    .title_container,
    .description_container {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: flex-start;
      margin-bottom: 20px;

      h3 {
        font-size: 1.8rem;
        padding-top: 10px;
      }

      .btn_mt_10 {
        margin-top: 10px;
      }

      .save_btn svg,
      .save_btn:hover svg {
        fill: var(--priority-color-low);
      }

      .save_btn:disabled {
        border-color: var(--bg-main);

        svg {
          fill: var(--bg-main);
        }

        &:hover {
          background-color: transparent;
        }
      }

      .task_title_textarea,
      .task_description_textarea {
        width: 100%;
        padding: 10px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
        resize: none;
        background-color: var(--bg-main);
        color: var(--text-color-main);
        border: none;
        border-radius: 4px;
      }

      .task_description_textarea {
        font-size: 1rem;
        font-weight: normal;
        height: 400px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .required {
        border: 1px solid var(--priority-color-high);
      }
    }

    .related_info {
      display: flex;
      gap: 20%;
      margin-bottom: 20px;

      & > * {
        flex: 1;
      }
    }

    .task_users {
      display: flex;
      justify-content: space-between;

      ul li {
        margin-bottom: 5px;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      .save {
        background-color: var(--accent-secondary);

        &:hover {
          background-color: var(--accent-main);
        }

        &:disabled {
          background-color: var(--light-grey);
        }
      }
    }
  }
}

.task_status_options {
  justify-content: space-between;

  select {
    flex: 1;
    min-width: 50%;
    max-width: 250px;
    text-transform: capitalize;
  }
}
