:root {
  --font-size-root: 16px;

  --bg-main: #2e42a6;
  --bg-secondary: #fff;
  --bg-body: #f0f0f0;

  --btn-main: #d4d4d4;
  --btn-secondary: #b8b8b8;
  --btn-disabled: #e0e0e0;

  --text-color-main: #212121;
  --text-color-dark: #212121;
  --text-color-light: #e0e0e0;

  --accent-main: orange;
  --accent-secondary: #ffcc4a;

  --accent-blue-main: #405ce6;
  --accent-blue-secondary: var(--bg-main);

  --border-color: #1c2e8a;

  --priority-color-low: #40a12f;
  --priority-color-medium: #3968bf;
  --priority-color-high: red;

  --black: #000000;
  --dark-bg: #16256e;
}

body.dark {
  --bg-main: #212121;
  --bg-secondary: #383838;
  --bg-body: #313131;

  --text-color-main: #e0e0e0;

  --btn-main: #616161;
  --btn-secondary: #d4d4d4;

  --border-color: #000000;
  --dark-bg: var(--black);
}
