.dialog_container {
  width: 400px;
  padding: 10px;

  h3 {
    font-size: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
      margin-bottom: 5px;
    }

    input,
    textarea {
      margin-bottom: 10px;
      padding: 5px;
      border: none;
      resize: none;
      background-color: var(--bg-main);
      color: var(--text-color);
    }

    input {
      font-weight: 600;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      button {
        font-size: 1rem;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: var(--grey);

        &:hover {
          background-color: var(--light-grey);
        }

        &.add {
          background-color: var(--accent-secondary);

          &:hover {
            background-color: var(--accent-main);
          }
        }
      }
    }
  }
}
