.dialog_container {
  width: 600px;
  padding: 10px;

  h3 {
    font-size: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
      margin-bottom: 5px;
    }

    textarea {
      margin-bottom: 10px;
      padding: 5px;
      border: none;
      resize: none;
      background-color: var(--bg-body);
      color: var(--text-color);

      &.title {
        font-weight: 600;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      .add {
        background-color: var(--accent-secondary);

        &:hover {
          background-color: var(--accent-main);
        }
      }
    }

    .flex {
      display: flex;
      justify-content: space-between;
    }

    .assignees_tags {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}
