.backdrop,
.dialog {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}

.backdrop {
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
  top: 200px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}
